{% extends 'car_owner/base.html' %}
{% block content %}
{% csrf_token %}
<div class="w3-bar w3-black w3-large">
  <div class="w3-bar-item w3-left w3-black">Dealer : {{user.username}}</div>
  <a class="w3-bar-item w3-btn w3-teal w3-right w3-black" href="/owner_portal/logout/">Logout</a>
  <a class="w3-bar-item w3-btn w3-teal w3-right w3-black" href="/owner_portal/auth/">Home</a>
  <a class="w3-bar-item w3-btn w3-teal w3-right w3-black" href="/owner_portal/order_list/">Orders</a>
  <a class="w3-bar-item w3-btn w3-teal w3-right w3-black" href="/owner_portal/manage_vehicles/">Vehicles</a>
  <a class="w3-bar-item w3-btn w3-teal w3-right w3-black" href="/owner_portal/car_history/">Earnings</a>
</div>

<div class="w3-display-container" style="height:300px;">
  <div class="w3-display-middle">
    Vehicle Details Have Added! <br><br>
    <a href="/owner_portal/index/">Back To Home Page</a>
</div>
</div>
{% endblock %}
